<% provide(:title, "Home") %>


<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  <h2>
    Oops,it isn't already written. 2017/10/14
  </h2>
  <h2>
    Oops,Not https. 2017/10/14
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
